[Desktop Entry]
Name=KopiaUI
Exec=env KOPIA_LOG_DIR_MAX_SIZE_MB=500 KOPIA_CONTENT_LOG_DIR_MAX_SIZE_MB=200 /opt/KopiaUI/kopia-ui %U
Terminal=false
Type=Application
Icon=kopia-ui
StartupWMClass=KopiaUI
Comment=Fast and secure open source backup.
Categories=Utility;
X-GNOME-Autostart-enabled=true
